body{
    background: cadetblue;
}

.container {
    text-align: center;
    padding: 30px;
    width: 60%;
    min-height: 70vh;
    margin: 40px auto;
    background-color: palegoldenrod;
    border: 5px solid black;
    border-radius: 20px;
}

.signs {
    font-size: 150px;
    margin: 30px;
    border-radius: 20px;
}

.input button:hover {
    background: lightgreen;
}

.reset {
    padding: 20px;
    background: brown;
    border-radius: 15px;
    color:white;   
}

.classes {
    font-size: 100px;
}

.result h2 {
    font-size: 50px;
}

.result p {
    font-size: 20px;    
}

.result-won {
    color: green;
}

.result-lost {
    color: red;
}

.result-draw {
    color: grey;
}

.result span {
    font-size: 100px;
}

.resultAnime {
    display: grid;
    grid: 150px / auto auto;
    margin-bottom: 70px;
}